numpy==1.16.6
scipy==1.2.3
pandas==0.24.2
matplotlib==2.2.5
Pillow==6.2.2
scikit-image==0.14.5
requests==2.27.1
protobuf==3.17.3
h5py==2.10.0
grpcio==1.24.3
tensorflow==1.14.0
Keras==2.2.4
cleverhans==2.1.0
six==1.16.0
